@mixin flexbox-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


@keyframes rotateFront {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}


$icon_height: 31px;
$div_height: 55px;


.video {
  @include flexbox-layout;
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 260px;
  aspect-ratio: 16/9;
  position: relative;

  * {
    user-select: none;
  }

  > * {
    @include flexbox-layout;
    width: 100%;
    height: 100%;
  }

  > .container {
    z-index: 0;
    position: relative;

    > .poster {
      position: absolute;
      width: 100%;
      max-height: 100%;

      display: flex;
      background: rgba(5, 118, 162, 0.04);
      justify-content: center;
      align-items: center;
      aspect-ratio: 16/9;


      > img {
        width: 99%;
        height: 99%;
      }
    }

    > video {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      background: transparent;
      z-index: 1;
    }
  }

  > .controls {
    z-index: 1;
    position: absolute;
    overflow: hidden;



    > * {
      position: absolute;
      opacity: 0;
      transition: height 0.5s, margin-bottom 0.5s, opacity 0.5s;
      @include flexbox-layout;
    }

    > .top {
      z-index: 4;
      width: 100%;
      top: 1%;
      height: $div_height;
      right: 0;
      justify-content: flex-end;
      flex-direction: row;

      &:not(.show) {
        opacity: 0 !important;
      }


      > .screen {
        order: 2;
        height: 100%;
        aspect-ratio: 2/1;
        @include flexbox-layout;
        z-index: 5;
        flex-direction: row;
        top: 1%;
        right: 1%;
        justify-content: space-around;

        > * {
          transition: background-color 0.5s;
        }


        @mixin flBtn {
          height: 70%;
          aspect-ratio: 1/1;
          max-width: 40%;
          min-height: 31px;
          min-width: 31px;
          cursor: pointer;
          &:hover {
            opacity: 1 !important;
          }
        }

        > .full_screen {
          @include flBtn;

          > img {
            height: 100%;
            width: 100%;
          }
        }

        > .picture_in_picture {
          @include flBtn;

          > img {
            height: 100%;
            width: 100%;
          }
        }


      }


      &:hover {
        opacity: 0.7 !important;
      }


    }


    > .volumeContainer {
      height: 100px;
      aspect-ratio: 1;
      max-width: 40%;
      min-width: 90px;
      min-height: 90px;
      position: absolute;
      z-index: 4;
      top: 1%;
      left: 1%;

      &:not(.show) {
        opacity: 0 !important;
      }

      &:hover {
        opacity: 1 !important;
      }
    }


    > .middle {
      z-index: 3;
      width: 100%;
      height: 80%;

      &:not(.active) {

      }


      > .play_btn {
        cursor: pointer;
        user-select: none;
        width: 60px;
        aspect-ratio: 16/9;
        transition: opacity 0.5s;
        @include flexbox-layout;
        opacity: 0;

        &.clicked {
          opacity: 1;
        }

        > img {
          width: 100%;
          height: 100%;
        }
      }
    }

    > .bottom {
      z-index: 4;
      bottom: 0;
      margin-bottom: 2px;
      width: 98%;
      height: 50px;
      justify-content: flex-start;
      opacity: 1;

      &:not(.show) {
        opacity: 0 !important;
      }

      > * {
        width: 100%;
        @include flexbox-layout;
        transition: transform 0.5s;
      }

      > .progress_bar {
        width: 100%;
        position: relative;
        flex-basis: 30%;
        aspect-ratio: 16/9;
        @include flexbox-layout;

        > * {
          position: absolute;
        }

        > .progress_bar {
          bottom: 0;
          height: 100%;
          z-index: 3;
          transition: 0.5s;
        }

      }

      > .retractable {
        flex-basis: 70%;
        aspect-ratio: auto;
        max-height: 70%;
        z-index: 5;
        flex-direction: row;
        justify-content: space-between;


        > * {
          @include flexbox-layout;
        }

        > .middle {
          order: 2;
          width: 200px;
          max-height: 40px;
          @include flexbox-layout;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          > * {
            @include flexbox-layout;
            height: 30px;
            width: 30px;
          }

          > .play {
            order: 2;
            cursor: pointer;
            transition: transform 0.5s;

            > .play_btn {
              width: 100%;
              height: 100%;

              > img {
                width: 100%;
                height: 100%;
              }
            }
            &:hover {
                transform: scale(1.2);
            }
          }

          > .prev_video {
            width: 40px;
            aspect-ratio: 16/9;
            max-height: 90%;
            cursor: pointer;
            opacity: 0.7;
            transition: opacity 0.5s;
            order: 1;

            > img {
              height: 100%;
              width: 100%;
            }

            &:hover {
              opacity: 1;
            }
          }

          > .next_video {
            width: 40px;
            aspect-ratio: 16/9;
            max-height: 80%;
            cursor: pointer;
            opacity: 0.6;
            order: 3;
            transition: opacity 0.5s;
            justify-content: center;
            align-content: center;

            > img {
              height: 100%;
              width: 100%;
            }

            &:hover {
              opacity: 1;
            }
          }
        }

        > .left {
          order: 1;
          opacity: 1;
          transition: opacity 0.5s, margin-bottom 0.5s;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          height: 40px;
          width: 144px;
          min-width: 144px;
          max-width: 50%;




          > .time {
            z-index: 1;
            top: 0;
            width: 100%;
            height: 100%;
            aspect-ratio: 2/1;
            font-size: 25px;
            align-content: center;
            text-align: center;
            display: flex;
            justify-content: center;
            color: #fff;

            > .bg {

              align-content: center;
              z-index: 2;
              display: flex;

              text-align: center;

              width: 100%;

              > .text {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
              }
            }
          }


        }

        > .right {
          order: 3;
          justify-content: flex-end !important;
          flex-direction: row;
          position: relative;
          transition: margin-bottom 0.5s;
          height: 50px;
          width: 155px;
          max-width: 35%;

          > .icon {

            position: absolute;
            opacity: 1;
            align-items: flex-end;
            z-index: 3;
            height: $icon_height;
            aspect-ratio: 1;
            transition: height 0.5s, opacity 0.5s, transform 0.5s;

            &.clicked {
              transform: rotate(180deg);

              ~ .settings {
                width: 100%;
              }
            }

            > img {
              height: 100%;
              width: 100%;
            }

            &:hover {

            }
          }

          > .pseudo_icon {
            opacity: 1;
            order: 2;
            align-items: flex-end;
            height: $icon_height;
            aspect-ratio: 1;
            transition: height 0.5s, opacity 0.5s;
          }



        }

        > .settings{
          position: absolute;
          width: 200px;
          height: 100px;
          background: #000;
          right: 0;
          opacity: 0;
          transition: opacity 0.5s;
          bottom: 50px;

          &.show {
            opacity: 1;
          }

          > .settingsff {
            opacity: 1;
            width: 0 !important;
            height: $icon_height;
            transition: opacity 0.5s, width 0.5s;
            @include flexbox-layout;
            max-height: 80%;
            max-width: 80%;
            justify-content: left;

            > .menu {
              width: 100%;
              height: 100%;
              transition: width 0.5s;
              @include flexbox-layout;
              flex-direction: row;
              justify-content: space-around;

              > * {
                width: 50px;
                @include flexbox-layout;
                transition: height 0.5s, transform 0.5s, opacity 0.5s;
                height: $icon_height;
                justify-content: flex-start;
              }

              > .graphics {
                order: 2;
                background: #31a205;

                > .graphics_icon {
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  > .sgraphics {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                  }
                }

                > .graphic {
                  width: 50px;
                  height: 0;
                  position: absolute;
                  opacity: 0;
                  z-index: 5;
                  transition: width 0.5s, height 0.5s, opacity 0.5s;
                  transform: translate(0, -100%);
                  background: rgba(63, 63, 63, 0.6);
                  @include flexbox-layout;
                  flex-direction: column-reverse;
                  justify-content: space-between;

                  > * {
                    width: 100%;
                    height: 30%;
                    cursor: pointer;
                    transition: background-color 0.5s;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                      background: #606060;
                    }
                  }

                  > .low {
                  }

                  > .lowHd {
                  }

                  > .hd {

                  }
                }

                &:hover {
                  .graphic {
                    opacity: 1;
                    height: $icon_height*4;
                  }
                }
              }

              > .speed {
                order: 1;
                background: #31a205;

                > .speed_icon {
                  display: flex;
                  justify-content: center;
                  align-content: center;

                  > .sspeed {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                }

                > .speeds {
                  width: 50px;
                  height: 0;
                  position: absolute;
                  transform: translate(0, -100%);
                  z-index: 5;
                  opacity: 0;
                  transition: width 0.5s, height 0.5s, opacity 0.5s;
                  background: #8005a2;
                  @include flexbox-layout;
                  justify-content: space-around;

                  > * {
                    width: 100%;
                    height: 25px;
                    background: #a20505;
                    cursor: pointer;
                    transition: background-color 0.5s;

                    &:hover {
                      background: #d50707;
                    }
                  }


                }

                &:hover {
                  .speeds {
                    opacity: 1;
                    height: $icon_height*7;
                  }
                }

              }

            }

            &:hover {
              width: $icon_height*4;
            }
          }
        }
      }


      &:hover {

      }

      &.open {

      }
    }

    > .bg{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 20%;
      background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0));
      opacity: 0.5;
      z-index: -1;
    }

    @mixin showState {
      .middle {
        opacity: 1;
      }

      .top, .volumeContainer {
        opacity: 0.6;
      }

    }

    &:hover {
      @include showState;
    }

    &.show {
      @include showState;
    }
  }
}
