@mixin flexbox-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.video {
  @include flexbox-layout;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  position: relative;

  * {
    user-select: none;
  }

  > * {
    @include flexbox-layout;
    width: 100%;
    height: 100%;
  }

  > .container {
    z-index: 0;

    > video {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  > .controls {
    z-index: 1;
    position: absolute;
    overflow: hidden;

    > * {
      position: absolute;
      opacity: 0;
      transition: height 0.5s, margin-bottom 0.5s, opacity 0.5s;
      @include flexbox-layout;
    }

    > .top {
      z-index: 2;
      width: 100%;
      height: 10%;
      top: 0;
      justify-content: flex-end;
      flex-direction: row;

      > .screen {
        order: 2;
        width: 20%;
        height: 100%;
        @include flexbox-layout;
        flex-direction: row;
        justify-content: space-around;

        > * {
          transition: background-color 0.5s;
        }

        @mixin flBtn {
          width: 40%;
          height: 70%;
          background: #2b830b;
          cursor: pointer;
          &:hover {
            background: #0003ff;
          }
        }

        > .full_screen {
          @include flBtn;
        }

        > .picture_in_picture {
          @include flBtn;
        }


      }


      &:hover {
        opacity: 0.7 !important;
      }


    }


    > .volumeContainer {
      height: 30%;
      aspect-ratio: 1;
      position: absolute;
      z-index: 4;
      top: 1%;
      left: 1%;
      &:hover {
        opacity: 1 !important;
      }
    }


    > .middle {
      z-index: 3;
      width: 100%;
      height: 80%;

      > .play_btn {
        cursor: pointer;
        user-select: none;
        width: 5%;
        aspect-ratio: 1;
        transition: opacity 0.5s;
        @include flexbox-layout;
        background: red;
        opacity: 0.4;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    > .bottom {
      z-index: 4;
      bottom: 0;
      margin-bottom: -2%;
      width: 98%;
      height: 10%;
      justify-content: flex-start;

      > * {
        width: 100%;
        @include flexbox-layout;
        transition: transform 0.5s;
      }

      > .progress_bar {
        width: 100%;
        position: relative;
        flex-basis: 30%;
        @include flexbox-layout;

        > * {
          position: absolute;
        }

        > .progress_bar {
          bottom: 0;
          height: 100%;
          z-index: 3;
          transition: 0.5s;
        }

      }

      > .retractable {
        flex-basis: 70%;
        z-index: 5;
        flex-direction: row;
        justify-content: space-between;


        > * {
          @include flexbox-layout;
        }

        > .left {
          opacity: 0;
          transition: opacity 0.5s, margin-bottom 0.5s;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: row;
          width: 20%;
          height: 70%;

          > .prev_video {
            width: 40%;
            height: 100%;
            background: red;
            cursor: pointer;
            opacity: 0.4;
            transition: opacity 0.5s;

            &:hover {
              opacity: 0.7;
            }
          }

          > .next_video {
            width: 40%;
            height: 100%;
            background: red;
            cursor: pointer;
            opacity: 0.4;
            transition: opacity 0.5s;

            &:hover {
              opacity: 0.7;
            }
          }
        }

        > .right {
          justify-content: flex-end !important;
          flex-direction: row;
          position: relative;
          transition: margin-bottom 0.5s;
          width: 15%;
          height: 70%;

          > .icon {
            position: absolute;
            opacity: 0;
            align-items: flex-end;
            z-index: 3;
            width: 30%;
            height: 100%;
            transition: height 0.5s, opacity 0.5s;
            background: #a20505;

            &:hover {
              ~ .settings {
                width: 70%;
              }
            }
          }

          > .settings {
            opacity: 0;
            width: 0;
            transition: opacity 0.5s, width 0.5s;
            height: 100%;
            @include flexbox-layout;
            background: #736d6d;
            margin-right: 30%;

            > .menu {
              width: 100%;
              height: 100%;
              transition: width 0.5s;
              @include flexbox-layout;
              flex-direction: row;
              justify-content: space-around;
              > *{
                width: 40%;
                @include flexbox-layout;
                transition: height 0.5s, transform 0.5s, opacity 0.5s;
                height: 100%;
                justify-content: flex-start;
              }

              > .graphics {
                order: 2;
                background: #31a205;

                > .graphic {
                  width: 0;
                  height: 0;
                  position: absolute;
                  opacity: 0;
                  z-index: 5;
                  transition: width 0.5s, height 0.5s, opacity 0.5s;
                  transform: translate(0, -100%);
                  background: #8005a2;
                  @include flexbox-layout;
                  justify-content: space-around;

                  > * {
                    width: 100%;
                    height: 30%;
                    background: #a20505;
                    cursor: pointer;
                    transition: background-color 0.5s;
                    &:hover {
                      background: #d50707;
                    }
                  }

                  > .low {

                  }

                  > .lowHd {
                  }

                  > .hd {

                  }
                }

                &:hover {
                  .graphic {
                    height: 10vh;
                    opacity: 1;
                    width: 30%;
                  }
                }
              }

              > .speed {
                order: 1;
                background: #31a205;

                > .speeds {
                  width: 0;
                  height: 0;
                  position: absolute;
                  transform: translate(0, -100%);
                  z-index: 5;
                  opacity: 0;
                  transition: width 0.5s, height 0.5s, opacity 0.5s;
                  background: #8005a2;
                  @include flexbox-layout;
                  justify-content: space-around;
                  > * {
                    width: 100%;
                    height: 30%;
                    background: #a20505;
                    cursor: pointer;
                    transition: background-color 0.5s;
                    &:hover {
                      background: #d50707;
                    }
                  }

                  > .slow {
                  }

                  > .normal {
                  }

                  > .fast {
                  }

                }

                &:hover {
                  .speeds {
                    height: 10vh;
                    opacity: 1;
                    width: 30%;
                  }
                }

              }



            }

            &:hover {
              width: 85%;
            }
          }


          > .up_arrow {
            opacity: 1;
            position: absolute;
            transition: opacity 0.5s, height 0.5s, transform 0.5s;
            width: 30%;
            height: 90%;
            background: #ff0000;
          }

        }
      }

      @mixin openState {
        height: 15%;
        > .retractable {
          transform: translate(0,0 )!important;

          > .left {
            opacity: 1;
          }

          > .right {
            > .settings {
              opacity: 1;
            }

            > .icon {
              opacity: 1;
            }

            > .up_arrow {
              transform: translate(0, -500%)!important;
              opacity: 0;
              height: 0;
            }
          }
        }
      }

      &:hover {
        @include openState;
      }

      &.open {
        @include openState;
      }
    }

    @mixin showState {
      .middle {
        opacity: 1;
      }

      .top, .volumeContainer {
        opacity: 0.4;
      }
      .bottom {
        opacity: 1;
        margin-bottom: 0;

        .retractable {
          transform: translate(0, 100%);
          > .right{
            > .up_arrow{
              transform: translate(0, -150%);
            }
          }

        }
      }
    }

    &:hover {
      @include showState;
    }

    &.show {
      @include showState;
    }
  }
}
