@mixin flexbox-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.video {
  @include flexbox-layout;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  position: relative;
  * {
    user-select: none;
  }

  > * {
    @include flexbox-layout;
    width: 100%;
    height: 100%;
  }

  > .container {
    z-index: 0;
    position: relative;

    > .poster {
      position: absolute;
      width: 100%;
      max-height: 100%;

      display: flex;
      background: rgba(5, 118, 162, 0.04);
      justify-content: center;
      align-items: center;
      aspect-ratio: 16/9;


      > img {
        width:99%;
        height: 99%;
      }
    }

    > video {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      background: transparent;
      z-index: 1;
    }
  }

  > .controls {
    z-index: 1;
    position: absolute;
    overflow: hidden;

    > * {
      position: absolute;
      opacity: 0;
      transition: height 0.5s, margin-bottom 0.5s, opacity 0.5s;
      @include flexbox-layout;
    }

    > .top {
      z-index: 2;
      width: 100%;
      height: 10%;
      top: 0;
      right: 0;
      justify-content: flex-end;
      flex-direction: row;

      > .screen {
        order: 2;
        height: 100%;
        aspect-ratio: 2/1;
        @include flexbox-layout;
        flex-direction: row;
        top: 1%;
        right: 1%;
        justify-content: space-around;

        > * {
          transition: background-color 0.5s;
        }

        @mixin flBtn {
          height: 70%;
          aspect-ratio: 1/1;
          max-width: 40%;
          background: #2b830b;
          cursor: pointer;
          &:hover {
            background: #0003ff;
            opacity: 1!important;
          }
        }

        > .full_screen {
          @include flBtn;
        }

        > .picture_in_picture {
          @include flBtn;
        }


      }


      &:hover {
        opacity: 0.7 !important;
      }


    }


    > .volumeContainer {
      height: 30%;
      aspect-ratio: 1;
      max-width: 40%;
      position: absolute;
      z-index: 4;
      top: 1%;
      left: 1%;

      &:hover {
        opacity: 1 !important;
      }
    }


    > .middle {
      z-index: 3;
      width: 100%;
      height: 80%;

      > .play_btn {
        cursor: pointer;
        user-select: none;
        width: 7%;
        aspect-ratio: 16/9;
        transition: opacity 0.5s;
        @include flexbox-layout;
        opacity: 0.4;
        > img{
          width: 100%;
          height: 100%;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }

    > .bottom {
      z-index: 4;
      bottom: 0;
      margin-bottom: -2%;
      width: 98%;
      height: 10%;
      justify-content: flex-start;

      > * {
        width: 100%;
        @include flexbox-layout;
        transition: transform 0.5s;
      }

      > .progress_bar {
        width: 100%;
        position: relative;
        flex-basis: 30%;
        aspect-ratio: 16/9;
        @include flexbox-layout;

        > * {
          position: absolute;
        }

        > .progress_bar {
          bottom: 0;
          height: 100%;
          z-index: 3;
          transition: 0.5s;
        }

      }

      > .retractable {
        flex-basis: 70%;
        aspect-ratio: auto;
        max-height: 70%;
        z-index: 5;
        flex-direction: row;
        justify-content: space-between;


        > * {
          @include flexbox-layout;
        }

        > .left {
          opacity: 0;
          transition: opacity 0.5s, margin-bottom 0.5s;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          height: 80%;
          aspect-ratio: 4/1;
          max-width: 50%;

          > .prev_video {
            width: 40%;
            aspect-ratio: 16/9;
            max-height: 80%;
            background: red;
            cursor: pointer;
            opacity: 0.4;
            transition: opacity 0.5s;

            &:hover {
              opacity: 0.7;
            }
          }

          > .next_video {
            width: 40%;
            aspect-ratio: 16/9;
            max-height: 80%;
            background: red;
            cursor: pointer;
            opacity: 0.4;
            transition: opacity 0.5s;

            &:hover {
              opacity: 0.7;
            }
          }
        }

        > .right {
          justify-content: flex-end !important;
          flex-direction: row;
          position: relative;
          transition: margin-bottom 0.5s;
          height: 80%;
          max-width: 35%;
          aspect-ratio: 3/1;

          > .icon {
            position: absolute;
            opacity: 0;
            align-items: flex-end;
            z-index: 3;
            height: 80%;
            aspect-ratio: 1;
            max-height: 80%;
            max-width: 80%;
            transition: height 0.5s, opacity 0.5s;
            background: #a20505;

            &:hover {
              ~ .settings {
                width: 100%;
              }
            }
          }
          > .pseudo_icon{
            opacity: 0;
            order: 2;
            align-items: flex-end;
            height: 80%;
            aspect-ratio: 1;
            max-height: 80%;
            max-width: 80%;
            transition: height 0.5s, opacity 0.5s;
            background: #a20505;

          }

          > .settings {
            opacity: 0;
            width: 0;
            transition: opacity 0.5s, width 0.5s;
            aspect-ratio: 2/1;
            @include flexbox-layout;
            background: #736d6d;
            max-height: 80%;
            max-width: 80%;
            justify-content: left;

            > .menu {
              width: 100%;
              height: 100%;
              transition: width 0.5s;
              @include flexbox-layout;
              flex-direction: row;
              justify-content: space-around;

              > * {
                width: 40%;
                @include flexbox-layout;
                transition: height 0.5s, transform 0.5s, opacity 0.5s;
                height: 100%;
                justify-content: flex-start;
              }

              > .graphics {
                order: 2;
                background: #31a205;

                > .graphic {
                  width: 0;
                  position: absolute;
                  opacity: 0;
                  z-index: 5;
                  transition: width 0.5s, height 0.5s, opacity 0.5s;
                  transform: translate(0, -100%);
                  aspect-ratio: 1/2;
                  background: #8005a2;
                  @include flexbox-layout;
                  justify-content: space-around;

                  > * {
                    width: 100%;
                    height: 30%;
                    background: #a20505;
                    cursor: pointer;
                    transition: background-color 0.5s;

                    &:hover {
                      background: #d50707;
                    }
                  }

                  > .low {

                  }

                  > .lowHd {
                  }

                  > .hd {

                  }
                }

                &:hover {
                  .graphic {
                    opacity: 1;
                    width: 30%;
                  }
                }
              }

              > .speed {
                order: 1;
                background: #31a205;

                > .speeds {
                  width: 0;
                  position: absolute;
                  transform: translate(0, -100%);
                  aspect-ratio: 1/2;
                  z-index: 5;
                  opacity: 0;
                  transition: width 0.5s, height 0.5s, opacity 0.5s;
                  background: #8005a2;
                  @include flexbox-layout;
                  justify-content: space-around;

                  > * {
                    width: 100%;
                    height: 30%;
                    background: #a20505;
                    cursor: pointer;
                    transition: background-color 0.5s;

                    &:hover {
                      background: #d50707;
                    }
                  }

                  > .slow {
                  }

                  > .normal {
                  }

                  > .fast {
                  }

                }

                &:hover {
                  .speeds {
                    opacity: 1;
                    width: 30%;
                  }
                }

              }


            }

            &:hover {
              width: 100%;
            }
          }




        }
      }

      @mixin openState {
        height: 15%;
        > .up_arrow {
          transform: translate(0, -200%);
          opacity: 0;
        }
        > .retractable {
          transform: translate(0, 0) !important;

          > .left {
            opacity: 1;
          }

          > .right {
            > .settings {
              opacity: 1;
            }

            > .icon {
              opacity: 1;
            }


          }
        }
      }

      > .up_arrow {
          opacity: 1;
          position: absolute;
          transition: opacity 0.5s, height 0.5s, transform 0.5s;
          width: 5%;
          aspect-ratio: 2/1;
          background: #ff0000;
        bottom: 10%;
        right: 1%;
      }

      &:hover {
        @include openState;
      }

      &.open {
        @include openState;
      }
    }

    @mixin showState {
      .middle {
        opacity: 1;
      }

      .top, .volumeContainer {
        opacity: 0.4;
      }
      .bottom {
        opacity: 1;
        margin-bottom: 0;

        .retractable {
          transform: translate(0, 100%);

        }
      }
    }

    &:hover {
      @include showState;
    }

    &.show {
      @include showState;
    }
  }
}
